@import './tether.css'
@import './tether-theme-basic.css'
@import './bootstrap.css'
@import './font-awesome.css'
@import './sweetalert.css'

.main > *:not(.active)
  display: none

#scoreboard,
#settings
  padding: 5px
  position: fixed
  top: 55px
  width: 100%

nav.navbar
  height: 55px
  position: fixed
  top: 0
  width: 100%

div.main
  height: 100%
  position: fixed
  top: 55px
  width: 100%

div.home
  padding-top: 10px

table.table
  margin-bottom: 0
