.navbar-header
  button.navbar-toggler.navbar-toggler-right(type='button' data-toggle='collapse',
    data-target='#navbar' aria-expanded='false' aria-controls='navbar')
    i.fa.fa-bars.fa-lg.py-1.text-white
  a.navbar-brand(href='#') pong.js
#navbar.navbar-collapse.collapse
  ul.navbar-nav
    li.nav-item: a.newGame.nav-link(href='' title='play'): span.fa.fa-play
    li.nav-item: a.newCubes.nav-link(href='' title='cubes') Cubes
